<h1>Hola {{prenom | capitalize}} !</h1> 
<!-- les doubles accolades c'est du twig pour permettre d'afficher du php plus facilement cela remplace le passage php qu'on met entre du html dans un fichier php, ici capitalize apres le pipe '|' permet de mettre la premiere lettre en majuscule -->

<!-- Test : localhost:8000/hola/Sylvain/-->
