{% extends 'layout.html.twig' %}

{% block content %}
<h1>{{ title }}</h1>
{# ci dessous, la fonction form nous permet de recuperer l'ensemble d'un formulaire, ici notre formulaire 'produitForm' #}
{{ form(membreForm) }}
{% endblock %}