
*{
    box-sizing:border-box;
}
body{
    background-image: url("../images/sunset1.jpg");
    position:relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: rgb(44, 10, 10);
}
  
.nav a{
    margin: 0.8rem;
    color: whitesmoke;
}
.nav a:hover{
    color: rgb(255, 165, 80);
    text-shadow: 0px -1px 3px whitesmoke;
    transition: 0.3s;
}

.navbar-expand-lg{
    background-color: rgb(44, 10, 10);
}
.dropdown-menu.show{
    background-color: rgb(44, 10, 10);
}
.fas{
    color:whitesmoke;
    padding:0;
    margin: 0;
}

span{
    color: whitesmoke;
}
#container1{
    background-color: rgb(88, 88, 88);
    border-radius: 5px;
    margin-top: 1rem; 
    margin-bottom: 1rem;
    padding: 1rem;
}
.carousel{
    width: 100%;
    margin: 0 auto;
}
.carousel img{
    max-height: 400px;
}
#mainTravaux h2{
    margin: 1rem;
    color: whitesmoke;
}    
#mainTravaux p{
    text-align: left;
}
#mainTravaux hr{
    width: 90%;
    background-color: rgb(255, 72, 0);
}
.titre1
    {
    text-align:center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
    margin-left: 1rem;
    color: aliceblue;
    text-shadow: 2px 2px 3px black;
    position: absolute;
    margin-top: 5%; 
    z-index: 1;
    }
@media screen and (min-width: 960px){
.titre1{
    text-align:center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 5rem;
    color: aliceblue;
    text-shadow: 2px 2px 3px black;
    position: absolute;
    margin-top: 5%; 
    margin-left:38rem;
    z-index: 1;
}
#jt1{
    background-color: rgba(255, 233, 162, 0.7);
}
#jt1 h1, h2{
    text-align: center;
    color: black;
}
#jt1 p{
    color: black;
}

@media screen and (min-width: 960px){
    .card{
    margin: 0.4%;
    max-width: 24%;
    display:flex;
    }
    .card h1{
        text-align: center;
    }
    .card p{
        font-family: 'Shadows Into Light', cursive;
        font-size: 1.5rem;
        text-align: center;
    }
    .card img{
        margin-top: 1rem;
    }
}
.card p{
    color: black;
    font-family: 'Shadows Into Light', cursive;
}

#jt2{
    margin: 1rem;
    margin-bottom: 3rem;
    background-color:  rgba(255, 233, 162, 0.7);
}
#jt2 h1, h2, p{
    text-align: center;
    color: black;
}
#jt2 p{
    color: black;
}

@media screen and (min-width: 320px){
    #container1, #mainCompetences, #mainLoisirs, #mainParcours, #mainTravaux, #mainContact{
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 1rem;
    }
}

#container1, #mainCompetences, #mainLoisirs, #mainParcours, #mainTravaux, #mainContact{
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 1rem;
    color: whitesmoke;
}
i{
    color: rgb(255, 166, 0);
    font-size: 3rem;
    margin-left: 3.3rem;
    margin-bottom: 1rem; 
}
.fa-html5{
    margin-left: 1.2rem;
}
.btn-primary{
    margin-left: 1rem;
    
}
.page-footer{
    
    background-color: rgb(44, 10, 10);
    
}
@media screen and (min-width: 960px){
    p{
        color:whitesmoke;
    }
}
p{
    color:whitesmoke;
}
form{
    margin: 1rem;
}

.btn-ancre{
 box-shadow: 2px 2px 5px darkslategray;
 font-size: 200%;
 position: fixed;
 right: 1rem;
 top: 54rem;
}
}
.footer-copyright{
    color: slategrey;
}
footer a{
    color: whitesmoke;
}



