
*{
    box-sizing:border-box;
}
body{
    background: radial-gradient(circle, rgba(207,47,3,0.8155462868741247) 26%, rgba(241,217,54,1) 95%);
}

.container-fluid{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: rgb(44, 10, 10);
}
  
.nav a{
    margin: 0.8rem;
    color: whitesmoke;
}
.nav a:hover{
    color: rgb(255, 217, 134);
    text-shadow: 0px -1px 3px whitesmoke;
    transition: 0.3s;
}

.navbar-expand-lg{
    background-color: rgb(44, 10, 10);
}
.dropdown-menu.show{
    background-color: rgb(44, 10, 10);
}
.fas{
    color:whitesmoke;
    padding:0;
    margin: 0;
}
span{
    color: whitesmoke;
}
#container1{
    background-color: rgb(88, 88, 88);
    border-radius: 5px;
    margin-top: 1rem; 
    margin-bottom: 1rem;
    padding: 1rem;
}
.carousel{
    position: relative;
    height: 400px;
}
.carousel img{
    max-height: 400px;
}
#mainTravaux h2{
    margin: 1rem;
    text-align: center;
    color: whitesmoke;
}
#mainTravaux hr{
    width: 90%;
    background-color: rgb(255, 72, 0);
}
.titre1
    {
    text-align:center;
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 2rem;
    margin-left: 1rem;
    color: aliceblue;
    text-shadow: 2px 2px 3px black;
    position: absolute;
    margin-top: 5%; 
    z-index: 1;
    }
@media screen and (min-width: 960px){
.titre1{
    text-align:center;
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 5rem;
    color: aliceblue;
    text-shadow: 2px 2px 3px black;
    position: absolute;
    margin-top: 5%; 
    margin-left:30rem;
    z-index: 1;
}
}
#jt1{
    
}
#jt1 h1, h2{
    text-align: center;
    color: black;
}

@media screen and (min-width: 960px){
    .card{
    margin: 0.4%;
    max-width: 24%;
    display:flex;
    }
    .card h1{
        text-align: center;
    }
    .card p{
        text-align: center;
    }
    .card img{
        margin-top: 1rem;
    }
}
.card-body p{
    color: black;
}

#jt2{
    margin: 1rem;
}
#jt2 h1, h2, p{
    text-align: center;
    color: black;
}

#mainCompetences, #mainLoisirs, #mainParcours, #mainTravaux{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(88, 88, 88);
    border-radius: 5px;
    padding: 1rem;
}
i{
    color: rgb(255, 166, 0);
    font-size: 3rem;
    margin-left: 3.3rem;
    margin-bottom: 1rem; 
}
.fa-html5{
    margin-left: 1.2rem;
}

.page-footer{
    background-color: rgb(44, 10, 10);
}
p{
    color:whitesmoke;
}
form{
    margin: 1rem;
}
