
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /Back/WF3/wordpress%20theme%20enfant/theme_enfant/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Back/WF3/wordpress%20theme%20enfant/theme_enfant/index.php [L]
</IfModule>

# END WordPress